/*videos*/

.content-video {
    margin: 80px 300px 80px 300px;
    padding: 20px;
    background-color: #ffffff;
    width: fit-content;
}
.contentStyle {
    
    border: 1px solid #d3d2d2;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    }
.article {
    background-color: #d3d2d2;
    padding: 20px; 
}
.practicaStyle {
    padding: 20px;
    text-align:center;
}